<!-- app/views/carts/show.html.erb -->
<h1>Cart</h1>
<% if @cart.present? %>
  <ul>
    <% @cart.each do |cart_item| %>
      <li><%= cart_item.product.name %> </li>
    <% end %>
  </ul>
<% else %>
  <p>Your cart is empty.</p>
<% end %>
